body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 70%;
}

nav a {
  display: block;
  text-decoration: none;
  font-size:22px;
  padding: 1.2em 3em;
}

nav {
  background-color: whitesmoke;
  padding: 1.5em 0em;
  margin: 0px auto;
  box-shadow: 1px 1px 8px;
  height: 100vh;
  width: 18%;
  position: fixed;
  overflow-y: scroll;
}

nav a:hover {
  background-color: rgb(94, 93, 93);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body main {
  margin-right: 2em;
  margin-left: 20%;
  padding: 0em 1em;
}

main > header {
  display: flex;
  background-color: beige;
  justify-content: center;
  align-items: baseline;
  position: sticky;
  top:-1px;
}

article{
  background-color: rgb(251, 251, 241);
}

main > header > p {
  margin-top: 40px;
}

h1{
  font-size:48px;
}
