* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 60%;
}

figure {
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: 22px;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  padding: 0.4em 2em;
  color: #444;
}

nav {
  display: flex;
  justify-content: center;
  background-color: beige;
}

/* nav a:hover {
  background-color: rgb(94, 93, 93);
  color: white;
} */

::-webkit-scrollbar {
  display: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > main {
  width:80%;
  padding: 0em 1em;
}

body>header{
  width: 80%;
}

header > section {
  padding: 1.8em;
  display: flex;
  background-color: beige;
  justify-content: center;
  align-items: baseline;
  position: sticky;
  top: 1px;
  z-index: 1;
}

article {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(251, 251, 241);
}

main > header > p {
  margin-top: 40px;
}

h1 {
  font-size: 48px;
}

article p {
  font-size: 18px;
  line-height: 1.4em;
}

h2 {
  font-size: 30px;
}

article > section > section {
  padding: 1em 0em;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  padding: 0.4em 0em;
}

article > header {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px rgb(156, 155, 155) solid;
}

article > section {
  padding: 1em;
  line-height: 1.9em;
}

aside {
  margin-bottom: 1em;
  background-color: #e9edc9;
  padding: 1em;
}

main > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
  background-color: #e9edc9;
  color: black;
}

body > footer{
  padding:1em;
}

mark{
  background-color: rgba(204, 213, 174,0.90);
}

dialog{
  margin-left:40%;
  margin-top: 70px;
  padding: 1em;
}